[submodule "bsa"]
	path = bsa
	url = https://github.com/MEGA65/BSA
[submodule "ctools"]
	path = ctools
	url = https://github.com/mist64/ctools
[submodule "cc1541"]
	path = cc1541
	url = https://bitbucket.org/ptv_claus/cc1541.git
